* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
/* responsive images */
img {
  width: 100%;
  height: auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

:root {
  font-size: 0.785rem;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #adb5bd;
}

@media screen and (min-width: 768px) {
  /* styles */
}
@media screen and (min-width: 992px) {
  /* styles */
}
@media screen and (min-width: 1200px) {
  /* styles */
}
@media screen and (min-width: 1400px) {
  /* styles */
}
